/*******************************************************************************
                                    Mobile first
*******************************************************************************/

/************************
        Reset css 
************************/
:root {
    --clr-black: black;
    --clr-white: white;
    --clr-w_smoke: whitesmoke;
    --clr-dd: #dddddd;
    --clr-pastel: #978c81;
    --clr-green: green;
    --clr-red: red;
    --clr-orange: orange;
    --clr-purple: purple;
} 

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
h1,
h2,
h3,
p.mb {
    margin: 0;
}

body {
    margin: 0 auto;
    width: 100%;
}

.flex{
    display: flex; 
}

.n {
    display: none;    
}

.red {
    color: var(--clr-red);
}

.center {
    text-align: center;
}

/*********************
      @font-face
**********************/

@font-face {
    font-family: Merienda;
    src: url("../fonts/Merienda/Merienda-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: Mali-light;
    src: url("../fonts/mali/mali-lightitalic.ttf") format("truetype");
    font-style: normal;
}

p,
button,
a,
input,
label,
textarea {
    font-family: Mali-light;    
}
h1,
h2,
h3,
h4 {
    font-family: Merienda;
}

/**********************
        @mixin
**********************/

@mixin positions($value) {
    position: $value;
}
@mixin border($px, $color) {
    border: $px solid var($color);
}
@mixin bcg_c($color) {
    background-color: var($color);
}
@mixin buttons {
    @include border(2px, --clr-pastel);
    @include bcg_c(--clr-pastel);
    border-radius: 1.5rem;
    padding: .8rem;
    color: var(--clr-white);
    cursor: pointer;
}
@mixin c_a {
    input {
        @include border(1px, --clr-white);
        width: 100%;
        height: 4rem;
        margin: 1rem;
    }
    
    button {
        @include buttons();
    }
}

textarea {
    @include border(1px, --clr-white);
    width: 100%;
}

/**************
    Header
**************/

header {
    background-image: linear-gradient( var(--clr-white) ,var(--clr-pastel) );
}

.logo {
    justify-content: center;
    margin-bottom: 2rem;
    p {
        margin: 0;
    }
}

.icons {
    width: 1.5rem;
}

.navbar {
    nav {
        justify-content: space-around;

        li {
            list-style: none;
            width: 3rem;
            border-radius: 50%;
        }

        li:hover {
            @include bcg_c(--clr-pastel);
            a {
                color: var(--clr-black);
            }
        }
    }

    div.drap {
        @include border(1px, --clr-pastel);
        @include bcg_c(--clr-pastel);
        border-radius: .5rem;
        
        ul {
            list-style: none;
            padding: .1rem;
            
            li {
                padding: 1rem 0;
                
                a {
                    padding: 1rem;
                }
            }
            
            li:hover {
                @include bcg_c(--clr-pastel);

                a {
                    color: var(--clr-white);
                }
            }
        }
    }

    div.drapp {
        border-radius: .5rem;
        @include bcg_c(--clr-pastel);
        @include border(1px , --clr-pastel);

        ul {
            list-style: none;
            padding: .1rem;
            
            li {
                padding: 1rem 0;
            }
            
            li>a {
                padding: 1rem;
            }
            
            li:hover {
                @include bcg_c(--clr-pastel);

                a {
                    color: var(--clr-white);
                }
            }
        }
    }

    .aff {
        @include border(1px, --clr-pastel);
        @include bcg_c(--clr-pastel);
        border-radius: .5rem;

        input {
            border-radius: .5rem;
            height: 2rem;
            width: 100%;
        }
    }  
}
  
a {
    text-decoration: none;
    color: var(--clr-black);
}

/**************
    Icons
**************/

.icons {
    width: 1.5rem;
}

.tooltip {
    @include positions(relative);
}

.tooltipicon {
    @include positions(absolute);
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

span.tooltiptext {
    @include bcg_c(--clr-white );
    visibility: hidden;
    color: var(--clr-pastel);
    text-align: center;
    border-radius: 6px;
    padding: .5rem ;
    top: -2.5rem;
    left: -.8rem;
    
    /* Position the tooltip */
    @include positions(absolute);
    z-index: 1;
}


/********************************
    Login And Register Forms
********************************/

.container {
    text-align: center;
    padding: 1rem;
} 

.form {
    @include border(1px, --clr-pastel);
    box-shadow: 10px 10px var(--clr-pastel);
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;

    div {
        margin-bottom: 1.5rem;
        justify-content: space-between;
        
        input {
            width: 9rem;
            height: 2rem;
            margin: .3rem 0 .3rem 0;
        }
        button {
            @include buttons();
        }
    }
}

/*******************************
        Contact / Add Form       
********************************/

.contact {
    margin: .5rem;

    .c_form {
        @include c_a();
        @include border(1px, --clr-pastel);
        border-radius: 2rem;
        box-shadow: 10px 10px var(--clr-pastel);
        padding: 1rem;
    }
}

.art {
    margin: 1rem;

    .add {
        @include c_a();
    }
}

/*******************
        Article      
*******************/
.parent {
    @include positions(relative);

    .child {
        @include positions(absolute);  
        color: var(--clr-pastel);
        left: -2rem;
        bottom: -.5rem;
        font-size: 2rem;
    }
}

.art_pic {
    object-fit: cover;
    width: 100%;
    height: 25rem;
    border-radius: .5rem;
}

.art_img {
    object-fit: cover;
}

.all_coms {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 15rem;

    .later_coms {
        @include bcg_c(--clr-w_smoke);
        margin: 1rem;
        padding: .5rem;
        border-radius: 1rem;
    }
}

.send_coms {
    @include buttons();
}

.categories {
    .buttons {
        display: flex;
        flex-direction: column;
    }
    button {
        border-radius: .5rem;
        padding: .5rem;
        margin: .5rem;
        @include border(1px, --clr-pastel);
    }
    button:hover {
        @include bcg_c(--clr-pastel);
        color: var(--clr-white);
        cursor: pointer;
    }
}

.big_drill,
.big_gospel,
.big_rap_us,
.big_afro_rap,
.big_afrobeats,
.big_afro_rap,
.big_afrolove,
.big_french_rap,
.big_autres {
    display: flex;
    flex-direction: column;
    @include border(2px, --clr-black);
    margin: 1rem;
    padding: 1rem;
        video {
            @include border(1px, --clr-purple);
            margin: 1rem;
        }
}

/********************************
            Home
********************************/

.entête {
    background-image: url("../images/partner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    figure {
        @include border(2px, --clr-pastel);
        border-radius: 2rem;
        padding: 1rem;
        
        button {
            @include buttons();
            a {
                padding:.5rem;
                color: var(--clr-white);
            }
        }
    }   
}

.content {
    justify-content: center;
}


/********************************
            More
********************************/

span {
    font-style: italic;
    font-weight: 700;
}

figcaption {
    justify-content: space-between;

    .fas {
        cursor: pointer;
    }
}

p.elp {
    white-space: nowrap;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
}
  
#comments {
    margin: 1rem;
    height: 5rem;
} 

/********************************
            Profil
********************************/

.profil {
    @include border(1px, --clr-pastel);
    border-radius: 2rem;
    box-shadow: 10px 10px var(--clr-pastel);
    padding: 1rem;
}

.profil_pic {
    width: 20rem;
    border-radius: 50%;
}

img {
    margin: 1rem 0;
}

/********************************
        Commentaires pics       
********************************/

.com_pic {
    border-radius: 50%;
    width: 3rem;
}

/********************************
        Requests display
********************************/

.req {
    @include border(1px, --clr-pastel);
    box-shadow: var(--clr-pastel);
    border-radius: 2rem;
    padding: 1rem; 
}

/********************************
            Dashboard
********************************/

.table {
    @include border(1px, --clr-black);
    width: 100%;
    border-collapse: collapse;
        
    td, th {
        @include border(1px, --clr-dd);
        padding: 1rem;

        button {
            margin: .3rem;
            padding: .5rem;
            border-radius: .5rem;
            cursor: pointer;
        }
        .show {
            @include border(1px, --clr-orange);
            color: var(--clr-orange);
        }
        .show:hover {
            @include border(1px, --clr-orange);
            @include bcg_c(--clr-orange);
            color: var(--clr-white);
        }
        .delete {
            @include border(1px, --clr-red);
            color: var(--clr-red);
        }
        .delete:hover {
            @include border(1px, --clr-red);
            @include bcg_c(--clr-red);
            color: var(--clr-white);
        }
    }
    
    tr:nth-child(even) {
        @include bcg_c(--clr-dd);
    }
}

/**************
    Footer
**************/

footer {
    background-image: url("../images/footer2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 1rem;

    .first_div {
        p {
            margin: 0;
        }
    }
    .sound {
        margin: 0;
    }
    div {
        padding: 1rem;
    }
    .fab {
        margin: 0.5rem;
    }
    hr {
        @include border(1px, --clr-black);
        width: 4rem;
    }
}


/**********************************************************************************************
                                        Responsive                      
**********************************************************************************************/

/*******************************************************
                        Tablet
*******************************************************/

@media screen and (min-width: 680px) {
    
    /********************
            Header            
    ********************/
    

    /********************
            Footer            
    ********************/

    footer {
        display: flex;
        justify-content: space-around;

        div.padding {
            padding-top: 3rem
        }
        hr {
            @include border(1px, --clr-black);
            width: 0;
            margin: 0;
        }
    }

    /********************
          categories            
    ********************/

    .categories {
        .buttons {
            display: block;
        }
        button {
            border-radius: .5rem;
            padding: .5rem;
            margin: .5rem;
            @include border(1px, --clr-pastel);
        }
        button:hover {
            @include bcg_c(--clr-pastel);
            color: var(--clr-white);
            cursor: pointer;
        }
    }

    .big_drill,
    .big_gospel,
    .big_rap_us,
    .big_afro_rap,
    .big_afrobeats,
    .big_afrolove,
    .big_french_rap,
    .big_autres {
        display: grid; 
        grid-template-rows: 1fr 1fr;
    }
}



/*******************************************************
                        Desktop
*******************************************************/
@media screen and (min-width: 980px) {

    /********************
            Header            
    ********************/
    
    .logo {
        justify-content: left;
        position: relative;

        a>h1 {
            position: absolute;
            left: 10rem;
            top: 3rem;
        }
        p {
            position: absolute;
            left: 10rem;
            top: 6rem;
            margin: 0;
        }
    }
    .navbar {
        position: absolute;
        right: 0rem;
        top: 4rem;

        nav {
            li {
                margin: 0 1rem;
            }
        }
        div.drap {
            position: absolute;
            right: 12.5rem;
            width: 10rem;
        }
        div.drapp {
            position: absolute;
            right: 2rem;
            width: 10rem;
        }
    }

    /********************
            Footer            
    ********************/

    footer {
        display: flex;
        justify-content: space-around;

        div.padding {
            padding-top: 3rem
        }
        hr {
            @include border(1px, --clr-black);
            width: 0;
            margin: 0;
        }
    }

    /********************
          categories          
    ********************/
    .categories {
        .buttons {
            display: grid;
        }
        button {
            border-radius: .5rem;
            padding: .5rem;
            margin: .5rem;
            @include border(1px, --clr-pastel);
        }
        button:hover {
            @include bcg_c(--clr-pastel);
            color: var(--clr-white);
            cursor: pointer;
        }
    }
    
    .big_drill,
    .big_gospel,
    .big_rap_us,
    .big_afro_rap,
    .big_afrobeats,
    .big_afrolove,
    .big_french_rap,
    .big_autres {
        display: grid; 
        grid-template-rows: 1fr 1fr;
    }

}
