/************************
        Reset css 
************************/
:root {

    --clr-bs: black;
    --clr-as: white;
    --clr-bg: #978c81;
    --clr-svg: #950000;
    --clr-bg_hf: rgb(69, 69, 69);
    --clr-navh:  #4c4343; 
} 

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
h1,
h2,
h3,
p.mb {
    margin: 0;
}

body {
    margin: 0 auto;
    width: 100%;
}


h1 a {
    text-decoration: none;
    color: var(--clr-bs);
}

.flex{
    display: flex; 
}

.n {
    display: none;    
}

.red {
    color: red;
}

.center {
    text-align: center;
}
.art_pic {
    width: 100%;
    // border: 2px solid purple;
}

textarea {
    width: 100%;
    border: 1px solid white;
}

@mixin buttons {
    padding: .8rem;
    cursor: pointer;
    border-radius: 1.5rem;
    border: 2px solid #978c81;
    background-color: var(--clr-bg);
    color: white;
}

@mixin positions($value) {
    position: $value;
}

@mixin c_a {

    input {
        width: 100%;
        height: 4rem;
        border: 1px solid white;
    }

    // textarea {
    //     width: 100%;
    //     border: 1px solid white;
    // }

    button {
        @include buttons();
    }

}


/**************
    Header
**************/

header {
    background-image: linear-gradient( white, #978c81 );
}

.logo {
    justify-content: center;
    margin-bottom: 2rem;

    p {
        margin: 0;
    }
}


.icons {
    width: 1.5rem;
}


.navbar {
    
    nav {
        justify-content: space-around;

        li {
            list-style: none;
            width: 3rem;
            border-radius: 50%;
        }

        li:hover {
            background-color: #978c81;

            a {
                color: black;
            }
        }
    }

    div.drap {
        border: 1px solid #978c81;
        border-radius: .5rem;
        background-color: #978c81;

        
        ul {
            list-style: none;
            padding: .1rem;
            
            li {
                padding: 1rem 0;
            }
            
            li>a {
                padding: 1rem;
            }
            
            li:hover {
                background-color: #978c81;

                a {
                    color: white;
                }
            }
            
        }

    }

    div.drapp {
        border: 1px solid #978c81;
        border-radius: .5rem;
        background-color: #978c81;

        ul {
            list-style: none;
            padding: .1rem;
            
            li {
                padding: 1rem 0;
            }
            
            li>a {
                padding: 1rem;
            }
            
            li:hover {
                background-color: #978c81;

                a {
                    color: white;
                }
            }
            
        }

    }

    .aff {
        border: 1px solid #978c81;
        border-radius: .5rem;
        background-color: #978c81;

        input {
            border: 2px solid whitesmoke;
            border-radius: .5rem;
            height: 2rem;
            width: 100%;
        }
    }
    
}
  
a {
    text-decoration: none;
    color: black;
}

/********************************
    Login And Register Forms
********************************/

.container {
    text-align: center;
    // background-color: whitesmoke;
    padding: 1rem;
} 

.form {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #978c81;
    border-radius: 2rem;
    box-shadow: 10px 10px #978c81;

    div {
        display: flex;
        margin-bottom: 1.5rem;
        justify-content: space-between;
        
        input {
            width: 15rem;
            height: 2rem;
            margin-left: 8rem;
            border: 2px solid whitesmoke;
        }

        button {
            @include buttons();
        }
    }

}

/********************************
          Contact /Add Form
********************************/

.contact {
    margin: .5rem;

    .c_form {
        border: 1px solid #978c81;
        border-radius: 2rem;
        box-shadow: 10px 10px #978c81;
        padding: 1rem;
        @include c_a();
    }
}

.art {
    margin: 1rem;

    .add {
        @include c_a();
    }
}


/********************************
            Home
********************************/

.entête {
    background-image: url("../images/partner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    figure {
        padding: 1rem;
        border: 1px solid black;
        border-radius: 2rem;
        
        button {
            @include buttons();
            
            a {
                padding:.5rem;
                color: white;
            }
        }
        
    }
    
    
}

figcaption {
    justify-content: space-between;

    .fas {
        cursor: pointer;
        margin-left: .5rem;
    }
}


p.elp {
    white-space: nowrap;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}
  

#comments {
    margin: 1rem;
    height: 5rem;
} 

.categories {

    margin: 1rem;
    justify-content: center;

    ul {
        padding: 0;
        justify-content: space-around;
        list-style: none;
        
        li {
            padding: .5rem;
            margin: .5rem;
            border: 1px solid black;
            border-radius: 1rem;

        }
    }

}


/********************************
           Profil
********************************/

.profil {
    border: 1px solid #978c81;
    border-radius: 2rem;
    box-shadow: 10px 10px #978c81;
    padding: 1rem;
}

.profil_pic {
    width: 20rem;
    border-radius: 50%;
}

img {
    margin: 1rem 0;
}

/********************************
        Commentaires pics       
********************************/

.com_pic {
    border-radius: 50%;
    width: 3rem;
}

/********************************
        Requests display
********************************/

.req {
    border: 1px solid #978c81;
    border-radius: 2rem;
    box-shadow: #978c81;
    padding: 1rem; 
}


/**************
    Footer
**************/

footer {
    background-image: url("../images/footer2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    div.drap{
        border: 2px solid black
    }

    hr {
        width: 2rem;
        border: 1px solid black;
    }
}

